# conda environment description file for docs build envioronment
# on readthedocs.org
#
# This file is a union of the environment.yaml files in the
# SalishSeaCmd, SalishSeaNowcast, SalishSeaTools, and Marlin packages.

name: salishsea-cmd-rtd

channels:
  - conda-forge
  - nodefaults

dependencies:
  - pip
  - python=3.14

  # Sphinx and extensions we use
  - sphinx=8.1.3
  - sphinx-notfound-page=1.0.4
  - sphinx-rtd-theme=3.0.0

  # readthedocs build system packages
  - mock
  - pillow
  - pip:
    - commonmark
    - recommonmark
    - readthedocs-sphinx-ext

    # Install NEMO-Cmd & SalishSeaCmd packages in editable mode
    - --editable git+https://github.com/SalishSeaCast/NEMO-Cmd.git#egg=NEMO-Cmd
    - --editable ../
