# conda environment description file for SalishSeaCmd package development environment
#
# Create a conda environment in which the `salishsea` command is installed
# in editable mode with:
#
#   $ conda env create -f SalishSeaCmd/envs/environment-dev.yaml
#   $ conda activate salishsea-cmd
#   (salishsea-cmd)$ python -m pip install --editable NEMO-Cmd/
#   (salishsea-cmd)$ python -m pip install --editable SalishSeaCmd/
#
# The environment includes all the tools used to develop,
# test, and document the SalishSeaCmd package.
#
# See the envs/requirements.txt file for an exhaustive list of all the
# packages installed in the environment and their versions used in
# recent development.

name: salishsea-cmd

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - attrs
  - cliff
  - f90nml
  - gitpython
  - pip
  - python=3.14
  - pyyaml

  # For coding style, repo QA, and pkg management
  - black
  - hatch
  - pre-commit

  # For unit tests
  - coverage
  - pytest-cov
  - pytest-randomly

  # For documentation
  - sphinx=8.1.3
  - sphinx-notfound-page=1.0.4
  - sphinx-rtd-theme=3.0.0

  - pip:
    - python-hglib
